doctype html
head(lang="de")
    meta(name="description" content="Bilder über unsere Entstehung")
    title Galerie - Raw Food Forest
    link(href='https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/css/lightgallery.css', rel='stylesheet')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css", rel="stylesheet")
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div
                div.navCell: a(href="index.html") Home
                div.navCellActive: a(href="galerie.html") Galerie
                div.navCell: a(href="filme.html") Filme
                div.navCell: a(href="produkte-verarbeitung.html") Produkte & Verarbeitung
                div.navCell: a(href="workshop-retreat.html") Workshop & Retreat
                div.navCell: a(href="kontakt.html") Kontakt
article#impressionen
    h2 Entstehung
    #gallery-entstehung

        a(href="img/galerie/entstehung/1.JPG" data-sub-html="<h4>Reisernte - 01. Dezember 2017</h4>")
            img(alt="Reisernte - 01. Dezember 2017" src="img/galerie/entstehung/thumbs/1.JPG")


        a(href="img/galerie/entstehung/b.JPG" data-sub-html="<h4>03. Dezember 2017</h4>")
            img(alt="03. Dezember 2017" src="img/galerie/entstehung/thumbs/b.JPG")


        a(href="img/galerie/entstehung/c.JPG" data-sub-html="<h4>06. Dezember 2017</h4>")
            img(alt="06. Dezember 2017" src="img/galerie/entstehung/thumbs/c.JPG")

        a(href="img/galerie/entstehung/3IMG-20190602-WA0045.jpg" data-sub-html="<h4>Mulchmaterial</h4>")
            img(alt="Mulchmaterial" src="img/galerie/entstehung/thumbs/3IMG-20190602-WA0045.jpg")


        a(href="img/galerie/entstehung/CIMG6917.JPG" data-sub-html="<h4>Strohballen</h4>")
            img(alt="Strohballen" src="img/galerie/entstehung/thumbs/CIMG6917.JPG")


        a(href="img/galerie/entstehung/CIMG6926.JPG")
            img(src="img/galerie/entstehung/thumbs/CIMG6926.JPG")


        a(href="img/galerie/entstehung/CIMG6928.JPG")
            img(src="img/galerie/entstehung/thumbs/CIMG6928.JPG")


        a(href="img/galerie/entstehung/IMG_3271.JPG" data-sub-html="<h4>Brunnenwasserteam - 18. Dezember 2017</h4>")
            img(alt="Brunnenwasserteam - 18. Dezember 2017" src="img/galerie/entstehung/thumbs/IMG_3271.JPG")


        a(href="img/galerie/entstehung/IMG_3272.JPG" data-sub-html="<h4>18. Dezember 2017</h4>")
            img(alt="18. Dezember 2017" src="img/galerie/entstehung/thumbs/IMG_3272.JPG")


        a(href="img/galerie/entstehung/IMG_3276.JPG" data-sub-html="<h4>18. Dezember 2017</h4>")
            img(alt="18. Dezember 2017" src="img/galerie/entstehung/thumbs/IMG_3276.JPG")


        a(href="img/galerie/entstehung/IMG_3277.JPG" data-sub-html="<h4>18. Dezember 2017</h4>")
            img(alt="18. Dezember 2017" src="img/galerie/entstehung/thumbs/IMG_3277.JPG")


        a(href="img/galerie/entstehung/IMG_3280.JPG" data-sub-html="<h4>18. Dezember 2017</h4>")
            img(alt="18. Dezember 2017" src="img/galerie/entstehung/thumbs/IMG_3280.JPG")


        a(href="img/galerie/entstehung/IMG_3282.JPG" data-sub-html="<h4>18. Dezember 2017</h4>")
            img(alt="18. Dezember 2017" src="img/galerie/entstehung/thumbs/IMG_3282.JPG")


        a(href="img/galerie/entstehung/IMG_3283.JPG" data-sub-html="<h4>18. Dezember 2017</h4>")
            img(alt="18. Dezember 2017" src="img/galerie/entstehung/thumbs/IMG_3283.JPG")


        a(href="img/galerie/entstehung/IMG_3284.JPG" data-sub-html="<h4>18. Dezember 2017</h4>")
            img(alt="18. Dezember 2017" src="img/galerie/entstehung/thumbs/IMG_3284.JPG")


        a(href="img/galerie/entstehung/IMG_3285.JPG" data-sub-html="<h4>18. Dezember 2017</h4>")
            img(alt="18. Dezember 2017" src="img/galerie/entstehung/thumbs/IMG_3285.JPG")


        a(href="img/galerie/entstehung/IMG_3299.JPG" data-sub-html="<h4>Landformung - 05. Januar 2018</h4>")
            img(alt="Landformung - 05. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3299.JPG")


        a(href="img/galerie/entstehung/IMG_3300.JPG" data-sub-html="<h4>05. Januar 2018</h4>")
            img(alt="05. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3300.JPG")


        a(href="img/galerie/entstehung/IMG_3307.JPG" data-sub-html="<h4>16. Januar 2018</h4>")
            img(alt="16. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3307.JPG")


        a(href="img/galerie/entstehung/IMG_3310.JPG" data-sub-html="<h4>16. Januar 2018</h4>")
            img(alt="16. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3310.JPG")


        a(href="img/galerie/entstehung/IMG_3311.JPG" data-sub-html="<h4>16. Januar 2018</h4>")
            img(alt="16. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3311.JPG")


        a(href="img/galerie/entstehung/IMG_3312.JPG" data-sub-html="<h4>16. Januar 2018</h4>")
            img(alt="16. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3312.JPG")


        a(href="img/galerie/entstehung/IMG_3313.JPG" data-sub-html="<h4>16. Januar 2018</h4>")
            img(alt="16. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3313.JPG")


        a(href="img/galerie/entstehung/IMG_3314.JPG" data-sub-html="<h4>16. Januar 2018</h4>")
            img(alt="16. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3314.JPG")


        a(href="img/galerie/entstehung/IMG_3315.JPG" data-sub-html="<h4>Basiscamp - 16. Januar 2018</h4>")
            img(alt="Basiscamp - 16. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3315.JPG")


        a(href="img/galerie/entstehung/IMG_3319.JPG" data-sub-html="<h4>22. Januar 2018</h4>")
            img(alt="22. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3319.JPG")


        a(href="img/galerie/entstehung/IMG_3321.JPG" data-sub-html="<h4>22. Januar 2018</h4>")
            img(alt="22. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3321.JPG")


        a(href="img/galerie/entstehung/IMG_3322.JPG" data-sub-html="<h4>22. Januar 2018</h4>")
            img(alt="22. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3322.JPG")


        a(href="img/galerie/entstehung/IMG_3323.JPG" data-sub-html="<h4>22. Januar 2018</h4>")
            img(alt="22. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3323.JPG")


        a(href="img/galerie/entstehung/IMG_3324.JPG" data-sub-html="<h4>22. Januar 2018</h4>")
            img(alt="22. Januar 2018" src="img/galerie/entstehung/thumbs/IMG_3324.JPG")


        a(href="img/galerie/entstehung/IMG_3372.JPG" data-sub-html="<h4>04. Februar 2018</h4>")
            img(alt="04. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3372.JPG")


        a(href="img/galerie/entstehung/IMG_3386.JPG" data-sub-html="<h4>07. Februar 2018</h4>")
            img(alt="07. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3386.JPG")


        a(href="img/galerie/entstehung/IMG_3387.JPG" data-sub-html="<h4>07. Februar 2018</h4>")
            img(alt="07. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3387.JPG")


        a(href="img/galerie/entstehung/IMG_3388.JPG" data-sub-html="<h4>07. Februar 2018</h4>")
            img(alt="07. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3388.JPG")


        a(href="img/galerie/entstehung/IMG_3390.JPG" data-sub-html="<h4>07. Februar 2018</h4>")
            img(alt="07. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3390.JPG")


        a(href="img/galerie/entstehung/IMG_3391.JPG" data-sub-html="<h4>07. Februar 2018</h4>")
            img(alt="07. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3391.JPG")


        a(href="img/galerie/entstehung/IMG_3411.JPG" data-sub-html="<h4>10. Februar 2018</h4>")
            img(alt="10. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3411.JPG")


        a(href="img/galerie/entstehung/IMG_3413.JPG" data-sub-html="<h4>10. Februar 2018</h4>")
            img(alt="10. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3413.JPG")


        a(href="img/galerie/entstehung/IMG_3414.JPG" data-sub-html="<h4>10. Februar 2018</h4>")
            img(alt="10. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3414.JPG")


        a(href="img/galerie/entstehung/IMG_3415.JPG" data-sub-html="<h4>10. Februar 2018</h4>")
            img(alt="10. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3415.JPG")


        a(href="img/galerie/entstehung/IMG_3419.JPG" data-sub-html="<h4>10. Februar 2018</h4>")
            img(alt="10. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3419.JPG")


        a(href="img/galerie/entstehung/IMG_3422.JPG" data-sub-html="<h4>10. Februar 2018</h4>")
            img(alt="10. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3422.JPG")


        a(href="img/galerie/entstehung/IMG_3424.JPG" data-sub-html="<h4>17. Februar 2018</h4>")
            img(alt="17. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3424.JPG")


        a(href="img/galerie/entstehung/IMG_3428.JPG" data-sub-html="<h4>19. Februar 2018</h4>")
            img(alt="19. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3428.JPG")


        a(href="img/galerie/entstehung/IMG_3451.JPG" data-sub-html="<h4>27. Februar 2018</h4>")
            img(alt="27. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3451.JPG")


        a(href="img/galerie/entstehung/IMG_3453.JPG" data-sub-html="<h4>27. Februar 2018</h4>")
            img(alt="27. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3453.JPG")


        a(href="img/galerie/entstehung/IMG_3456.JPG" data-sub-html="<h4>27. Februar 2018</h4>")
            img(alt="27. Februar 2018" src="img/galerie/entstehung/thumbs/IMG_3456.JPG")


        a(href="img/galerie/entstehung/IMG_3458.JPG" data-sub-html="<h4>02. März 2018</h4>")
            img(alt="02. März 2018" src="img/galerie/entstehung/thumbs/IMG_3458.JPG")


        a(href="img/galerie/entstehung/IMG_3461.JPG" data-sub-html="<h4>02. März 2018</h4>")
            img(alt="02. März 2018" src="img/galerie/entstehung/thumbs/IMG_3461.JPG")


        a(href="img/galerie/entstehung/IMG_3462.JPG" data-sub-html="<h4>04. März 2018</h4>")
            img(alt="04. März 2018" src="img/galerie/entstehung/thumbs/IMG_3462.JPG")


        a(href="img/galerie/entstehung/IMG_3463.JPG" data-sub-html="<h4>04. März 2018</h4>")
            img(alt="04. März 2018" src="img/galerie/entstehung/thumbs/IMG_3463.JPG")


        a(href="img/galerie/entstehung/IMG_3466.JPG" data-sub-html="<h4>Strohballenhaus wird mit Lehm verputzt - 04. März 2018</h4>")
            img(alt="Strohballenhaus wird mit Lehm verputzt - 04. März 2018" src="img/galerie/entstehung/thumbs/IMG_3466.JPG")


        a(href="img/galerie/entstehung/IMG_3467.JPG" data-sub-html="<h4>04. März 2018</h4>")
            img(alt="04. März 2018" src="img/galerie/entstehung/thumbs/IMG_3467.JPG")


        a(href="img/galerie/entstehung/IMG_3468.JPG" data-sub-html="<h4>04. März 2018</h4>")
            img(alt="04. März 2018" src="img/galerie/entstehung/thumbs/IMG_3468.JPG")


        a(href="img/galerie/entstehung/IMG_3471.JPG" data-sub-html="<h4>06. März 2018</h4>")
            img(alt="06. März 2018" src="img/galerie/entstehung/thumbs/IMG_3471.JPG")


        a(href="img/galerie/entstehung/IMG_3474.JPG" data-sub-html="<h4>06. März 2018</h4>")
            img(alt="06. März 2018" src="img/galerie/entstehung/thumbs/IMG_3474.JPG")


        a(href="img/galerie/entstehung/IMG_3476.JPG" data-sub-html="<h4>06. März 2018</h4>")
            img(alt="06. März 2018" src="img/galerie/entstehung/thumbs/IMG_3476.JPG")


        a(href="img/galerie/entstehung/IMG_3478.JPG" data-sub-html="<h4>06. März 2018</h4>")
            img(alt="06. März 2018" src="img/galerie/entstehung/thumbs/IMG_3478.JPG")


        a(href="img/galerie/entstehung/IMG_3508.JPG" data-sub-html="<h4>10. März 2018</h4>")
            img(alt="10. März 2018" src="img/galerie/entstehung/thumbs/IMG_3508.JPG")


        a(href="img/galerie/entstehung/IMG_3515.JPG" data-sub-html="<h4>12. März 2018</h4>")
            img(alt="12. März 2018" src="img/galerie/entstehung/thumbs/IMG_3515.JPG")


        a(href="img/galerie/entstehung/IMG_3517.JPG" data-sub-html="<h4>13. März 2018</h4>")
            img(alt="13. März 2018" src="img/galerie/entstehung/thumbs/IMG_3517.JPG")


        a(href="img/galerie/entstehung/IMG_3526.JPG" data-sub-html="<h4>14. März 2018</h4>")
            img(alt="14. März 2018" src="img/galerie/entstehung/thumbs/IMG_3526.JPG")


        a(href="img/galerie/entstehung/IMG_3533.JPG" data-sub-html="<h4>15. März 2018</h4>")
            img(alt="15. März 2018" src="img/galerie/entstehung/thumbs/IMG_3533.JPG")


        a(href="img/galerie/entstehung/IMG_3563.JPG" data-sub-html="<h4>04. April 2018</h4>")
            img(alt="04. April 2018" src="img/galerie/entstehung/thumbs/IMG_3563.JPG")


        a(href="img/galerie/entstehung/IMG_3592.JPG" data-sub-html="<h4>03. Mai 2018</h4>")
            img(alt="03. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3592.JPG")


        a(href="img/galerie/entstehung/IMG_3600.JPG" data-sub-html="<h4>09. Mai 2018</h4>")
            img(alt="09. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3600.JPG")


        a(href="img/galerie/entstehung/IMG_3645.JPG" data-sub-html="<h4>24. Mai 2018</h4>")
            img(alt="24. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3645.JPG")


        a(href="img/galerie/entstehung/IMG_3664.JPG" data-sub-html="<h4>Unser erster Bio-Reis wird gesät - 24. Mai 2018</h4>")
            img(alt="Unser erster Bio-Reis wird gesät - 24. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3664.JPG")


        a(href="img/galerie/entstehung/IMG_3669.JPG" data-sub-html="<h4>Natürlicher Grundwasserspiegel - 24. Mai 2018</h4>")
            img(alt="Natürlicher Grundwasserspiegel - 24. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3669.JPG")


        a(href="img/galerie/entstehung/IMG_3670.JPG" data-sub-html="<h4>24. Mai 2018</h4>")
            img(alt="24. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3670.JPG")


        a(href="img/galerie/entstehung/IMG_3671.JPG" data-sub-html="<h4>24. Mai 2018</h4>")
            img(alt="24. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3671.JPG")


        a(href="img/galerie/entstehung/IMG_3672.JPG" data-sub-html="<h4>24. Mai 2018</h4>")
            img(alt="24. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3672.JPG")


        a(href="img/galerie/entstehung/IMG_3675.JPG" data-sub-html="<h4>24. Mai 2018</h4>")
            img(alt="24. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3675.JPG")


        a(href="img/galerie/entstehung/IMG_3679.JPG" data-sub-html="<h4>24. Mai 2018</h4>")
            img(alt="24. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3679.JPG")


        a(href="img/galerie/entstehung/IMG_3688.JPG" data-sub-html="<h4>24. Mai 2018</h4>")
            img(alt="24. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3688.JPG")


        a(href="img/galerie/entstehung/IMG_3702.JPG" data-sub-html="<h4>29. Mai 2018</h4>")
            img(alt="29. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3702.JPG")


        a(href="img/galerie/entstehung/IMG_3703.JPG" data-sub-html="<h4>29. Mai 2018</h4>")
            img(alt="29. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3703.JPG")


        a(href="img/galerie/entstehung/IMG_3712.JPG" data-sub-html="<h4>31. Mai 2018</h4>")
            img(alt="31. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3712.JPG")


        a(href="img/galerie/entstehung/IMG_3713.JPG" data-sub-html="<h4>31. Mai 2018</h4>")
            img(alt="31. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3713.JPG")


        a(href="img/galerie/entstehung/IMG_3717.JPG" data-sub-html="<h4>31. Mai 2018</h4>")
            img(alt="31. Mai 2018" src="img/galerie/entstehung/thumbs/IMG_3717.JPG")


        a(href="img/galerie/entstehung/IMG_3720.JPG" data-sub-html="<h4>02. Juni 2018</h4>")
            img(alt="02. Juni 2018" src="img/galerie/entstehung/thumbs/IMG_3720.JPG")


        a(href="img/galerie/entstehung/IMG_3721.JPG" data-sub-html="<h4>02. Juni 2018</h4>")
            img(alt="02. Juni 2018" src="img/galerie/entstehung/thumbs/IMG_3721.JPG")


        a(href="img/galerie/entstehung/IMG_3723.JPG" data-sub-html="<h4>02. Juni 2018</h4>")
            img(alt="02. Juni 2018" src="img/galerie/entstehung/thumbs/IMG_3723.JPG")


        a(href="img/galerie/entstehung/IMG_3724.JPG" data-sub-html="<h4>02. Juni 2018</h4>")
            img(alt="02. Juni 2018" src="img/galerie/entstehung/thumbs/IMG_3724.JPG")


        a(href="img/galerie/entstehung/IMG_3725.JPG" data-sub-html="<h4>02. Juni 2018</h4>")
            img(alt="02. Juni 2018" src="img/galerie/entstehung/thumbs/IMG_3725.JPG")


        a(href="img/galerie/entstehung/IMG_3726.JPG" data-sub-html="<h4>02. Juni 2018</h4>")
            img(alt="02. Juni 2018" src="img/galerie/entstehung/thumbs/IMG_3726.JPG")


        a(href="img/galerie/entstehung/IMG_3727.JPG" data-sub-html="<h4>02. Juni 2018</h4>")
            img(alt="02. Juni 2018" src="img/galerie/entstehung/thumbs/IMG_3727.JPG")


        a(href="img/galerie/entstehung/IMG_3728.JPG" data-sub-html="<h4>02. Juni 2018</h4>")
            img(alt="02. Juni 2018" src="img/galerie/entstehung/thumbs/IMG_3728.JPG")


        a(href="img/galerie/entstehung/IMG_3747.JPG" data-sub-html="<h4>20. Juni 2018</h4>")
            img(alt="20. Juni 2018" src="img/galerie/entstehung/thumbs/IMG_3747.JPG")


        a(href="img/galerie/entstehung/IMG_3752.JPG" data-sub-html="<h4>22. Juni 2018</h4>")
            img(alt="22. Juni 2018" src="img/galerie/entstehung/thumbs/IMG_3752.JPG")


        a(href="img/galerie/entstehung/IMG_3753.JPG" data-sub-html="<h4>24. Juni 2018</h4>")
            img(alt="24. Juni 2018" src="img/galerie/entstehung/thumbs/IMG_3753.JPG")


        a(href="img/galerie/entstehung/IMG_3754.JPG" data-sub-html="<h4>Das Solarteam - 27. Juni 2018</h4>")
            img(alt="Das Solarteam - 27. Juni 2018" src="img/galerie/entstehung/thumbs/IMG_3754.JPG")


        a(href="img/galerie/entstehung/IMG_3760.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3760.JPG")


        a(href="img/galerie/entstehung/IMG_3763.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3763.JPG")


        a(href="img/galerie/entstehung/IMG_3764.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3764.JPG")


        a(href="img/galerie/entstehung/IMG_3773.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3773.JPG")


        a(href="img/galerie/entstehung/IMG_3774.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3774.JPG")


        a(href="img/galerie/entstehung/IMG_3776.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3776.JPG")


        a(href="img/galerie/entstehung/IMG_3780.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3780.JPG")


        a(href="img/galerie/entstehung/IMG_3781.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3781.JPG")


        a(href="img/galerie/entstehung/IMG_3783.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3783.JPG")


        a(href="img/galerie/entstehung/IMG_3786.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3786.JPG")


        a(href="img/galerie/entstehung/IMG_3789.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3789.JPG")


        a(href="img/galerie/entstehung/IMG_3791.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3791.JPG")


        a(href="img/galerie/entstehung/IMG_3793.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3793.JPG")


        a(href="img/galerie/entstehung/IMG_3795.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3795.JPG")


        a(href="img/galerie/entstehung/IMG_3798.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3798.JPG")


        a(href="img/galerie/entstehung/IMG_3799.JPG" data-sub-html="<h4>02. Juli 2018</h4>")
            img(alt="02. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3799.JPG")


        a(href="img/galerie/entstehung/IMG_3807.JPG" data-sub-html="<h4>Terrapreta Herstellung - 08. Juli 2018</h4>")
            img(alt="Terrapreta Herstellung - 08. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3807.JPG")


        a(href="img/galerie/entstehung/IMG_3808.JPG" data-sub-html="<h4>08. Juli 2018</h4>")
            img(alt="08. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3808.JPG")


        a(href="img/galerie/entstehung/IMG_3812.JPG" data-sub-html="<h4>11. Juli 2018</h4>")
            img(alt="11. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3812.JPG")


        a(href="img/galerie/entstehung/IMG_3814.JPG" data-sub-html="<h4>11. Juli 2018</h4>")
            img(alt="11. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3814.JPG")


        a(href="img/galerie/entstehung/IMG_3815.JPG" data-sub-html="<h4>11. Juli 2018</h4>")
            img(alt="11. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3815.JPG")


        a(href="img/galerie/entstehung/IMG_3821.JPG" data-sub-html="<h4>11. Juli 2018</h4>")
            img(alt="11. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3821.JPG")


        a(href="img/galerie/entstehung/IMG_3824.JPG" data-sub-html="<h4>11. Juli 2018</h4>")
            img(alt="11. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3824.JPG")


        a(href="img/galerie/entstehung/IMG_3826.JPG" data-sub-html="<h4>15. Juli 2018</h4>")
            img(alt="15. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3826.JPG")


        a(href="img/galerie/entstehung/IMG_3828.JPG" data-sub-html="<h4>15. Juli 2018</h4>")
            img(alt="15. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3828.JPG")


        a(href="img/galerie/entstehung/IMG_3854.JPG" data-sub-html="<h4>20. Juli 2018</h4>")
            img(alt="20. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3854.JPG")


        a(href="img/galerie/entstehung/IMG_3856.JPG" data-sub-html="<h4>Durianpflanztag - 20. Juli 2018</h4>")
            img(alt="Durianpflanztag - 20. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3856.JPG")


        a(href="img/galerie/entstehung/IMG_3857.JPG" data-sub-html="<h4>20. Juli 2018</h4>")
            img(alt="20. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3857.JPG")


        a(href="img/galerie/entstehung/IMG_3858.JPG" data-sub-html="<h4>21. Juli 2018</h4>")
            img(alt="21. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3858.JPG")


        a(href="img/galerie/entstehung/IMG_3859.JPG" data-sub-html="<h4>21. Juli 2018</h4>")
            img(alt="21. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3859.JPG")


        a(href="img/galerie/entstehung/IMG_3866.JPG" data-sub-html="<h4>30. Juli 2018</h4>")
            img(alt="30. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3866.JPG")


        a(href="img/galerie/entstehung/IMG_3875.JPG" data-sub-html="<h4>30. Juli 2018</h4>")
            img(alt="30. Juli 2018" src="img/galerie/entstehung/thumbs/IMG_3875.JPG")


        a(href="img/galerie/entstehung/IMG_3878.JPG" data-sub-html="<h4>03. August 2018</h4>")
            img(alt="03. August 2018" src="img/galerie/entstehung/thumbs/IMG_3878.JPG")


        a(href="img/galerie/sonstiges/IMG-20190602-WA0012.jpg")
            img( src="img/galerie/sonstiges/thumbs/IMG-20190602-WA0012.jpg")


        a(href="img/galerie/sonstiges/IMG-20190602-WA0014.jpg")
            img( src="img/galerie/sonstiges/thumbs/IMG-20190602-WA0014.jpg")


        a(href="img/galerie/sonstiges/IMG-20190602-WA0015.jpg")
            img( src="img/galerie/sonstiges/thumbs/IMG-20190602-WA0015.jpg")


        a(href="img/galerie/sonstiges/IMG-20190602-WA0016.jpg")
            img( src="img/galerie/sonstiges/thumbs/IMG-20190602-WA0016.jpg")


        a(href="img/galerie/sonstiges/IMG-20190602-WA0018.jpg")
            img( src="img/galerie/sonstiges/thumbs/IMG-20190602-WA0018.jpg")


        a(href="img/galerie/sonstiges/IMG-20190602-WA0019.jpg")
            img( src="img/galerie/sonstiges/thumbs/IMG-20190602-WA0019.jpg")


        a(href="img/galerie/sonstiges/IMG-20190602-WA0020.jpg")
            img( src="img/galerie/sonstiges/thumbs/IMG-20190602-WA0020.jpg")


        a(href="img/galerie/sonstiges/IMG-20190602-WA0022.jpg")
            img( src="img/galerie/sonstiges/thumbs/IMG-20190602-WA0022.jpg")


        a(href="img/galerie/sonstiges/IMG-20190602-WA0042.jpg")
            img( src="img/galerie/sonstiges/thumbs/IMG-20190602-WA0042.jpg")


        a(href="img/galerie/sonstiges/IMG-20190602-WA0044.jpg")
            img( src="img/galerie/sonstiges/thumbs/IMG-20190602-WA0044.jpg")


        a(href="img/galerie/sonstiges/IMG-20190603-WA0002.jpg")
            img( src="img/galerie/sonstiges/thumbs/IMG-20190603-WA0002.jpg")



        a(href="img/galerie/entstehung/IMG_3881.JPG" data-sub-html="<h4>04. August 2018</h4>")
            img(alt="04. August 2018" src="img/galerie/entstehung/thumbs/IMG_3881.JPG")


        a(href="img/galerie/entstehung/IMG_3887.JPG" data-sub-html="<h4>13. August 2018</h4>")
            img(alt="13. August 2018" src="img/galerie/entstehung/thumbs/IMG_3887.JPG")


        a(href="img/galerie/entstehung/IMG_3891.JPG" data-sub-html="<h4>13. August 2018</h4>")
            img(alt="13. August 2018" src="img/galerie/entstehung/thumbs/IMG_3891.JPG")


        a(href="img/galerie/entstehung/IMG_3897.JPG" data-sub-html="<h4>19. August 2018</h4>")
            img(alt="19. August 2018" src="img/galerie/entstehung/thumbs/IMG_3897.JPG")


        a(href="img/galerie/entstehung/IMG_3900.JPG" data-sub-html="<h4>EM Herstellung - 26. August 2018</h4>")
            img(alt="EM Herstellung - 26. August 2018" src="img/galerie/entstehung/thumbs/IMG_3900.JPG")


        a(href="img/galerie/entstehung/IMG_3904.JPG" data-sub-html="<h4>26. August 2018</h4>")
            img(alt="26. August 2018" src="img/galerie/entstehung/thumbs/IMG_3904.JPG")


        a(href="img/galerie/entstehung/IMG_3912.JPG" data-sub-html="<h4>26. August 2018</h4>")
            img(alt="26. August 2018" src="img/galerie/entstehung/thumbs/IMG_3912.JPG")


        a(href="img/galerie/entstehung/IMG_3914.JPG" data-sub-html="<h4>26. August 2018</h4>")
            img(alt="26. August 2018" src="img/galerie/entstehung/thumbs/IMG_3914.JPG")


        a(href="img/galerie/entstehung/IMG_3915.JPG" data-sub-html="<h4>26. August 2018</h4>")
            img(alt="26. August 2018" src="img/galerie/entstehung/thumbs/IMG_3915.JPG")

        a(href="img/galerie/entstehung/2g4IMG_0009.JPG" data-sub-html="<h4>Reisfeldformung zur Baumbepflanzung - 06. September 2018</h4>")
            img(alt="Reisfeldformung zur Baumbepflanzung - 06. September 2018" src="img/galerie/entstehung/thumbs/2g4IMG_0009.JPG")



        a(href="img/galerie/entstehung/2aIMG-20190602-WA0021.jpg")
            img(src="img/galerie/entstehung/thumbs/2aIMG-20190602-WA0021.jpg")


        a(href="img/galerie/entstehung/2eIMG-20190602-WA0003.jpg")
            img(src="img/galerie/entstehung/thumbs/2eIMG-20190602-WA0003.jpg")


        a(href="img/galerie/entstehung/2fIMG-20190603-WA0001.jpg")
            img(src="img/galerie/entstehung/thumbs/2fIMG-20190603-WA0001.jpg")


        a(href="img/galerie/entstehung/4.jpg" data-sub-html="<h4>Wald-Baumaufforstung</h4>")
            img(alt="Wald-Baumaufforstung" src="img/galerie/entstehung/thumbs/4.jpg")


        a(href="img/galerie/entstehung/5.jpg")
            img(src="img/galerie/entstehung/thumbs/5.jpg")


        a(href="img/galerie/entstehung/6.jpg")
            img(src="img/galerie/entstehung/thumbs/6.jpg")


        a(href="img/galerie/entstehung/7IMG-20190602-WA0032.jpg")
            img(src="img/galerie/entstehung/thumbs/7IMG-20190602-WA0032.jpg")


        a(href="img/galerie/entstehung/8IMG-20190602-WA0043.jpg")
            img(src="img/galerie/entstehung/thumbs/8IMG-20190602-WA0043.jpg")

        a(href="img/galerie/entstehung/WhatsApp Image 2019-06-11 at 17.13.48.jpeg")
            img(src="img/galerie/entstehung/thumbs/WhatsApp Image 2019-06-11 at 17.13.48.jpeg")

        a(href="img/new/1.jpg")
            img(src="img/new/1.jpg")

    h2 Konstruktion eines Bambuslehmhauses
    #gallery-bambus-lehmhaus

        a(href="img/galerie/bambus-lehmhaus/0IMG-20190602-WA0046.jpg")
            img(src="img/galerie/bambus-lehmhaus/thumbs/0IMG-20190602-WA0046.jpg")


        a(href="img/galerie/bambus-lehmhaus/1IMG-20190602-WA0033.jpg")
            img(src="img/galerie/bambus-lehmhaus/thumbs/1IMG-20190602-WA0033.jpg")


        a(href="img/galerie/bambus-lehmhaus/2IMG-20190602-WA0031.jpg")
            img(src="img/galerie/bambus-lehmhaus/thumbs/2IMG-20190602-WA0031.jpg")

        a(href="img/galerie/bambus-lehmhaus/3IMG-20190602-WA0035.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/3IMG-20190602-WA0035.jpg")


        a(href="img/galerie/bambus-lehmhaus/4IMG-20190602-WA0039.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/4IMG-20190602-WA0039.jpg")


        a(href="img/galerie/bambus-lehmhaus/5IMG-20190602-WA0041.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/5IMG-20190602-WA0041.jpg")


        a(href="img/galerie/bambus-lehmhaus/5bIMG-20190602-WA0040.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/5bIMG-20190602-WA0040.jpg")


        a(href="img/galerie/bambus-lehmhaus/6aIMG-20190602-WA0013.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/6aIMG-20190602-WA0013.jpg")


        a(href="img/galerie/bambus-lehmhaus/6bIMG-20190602-WA0034.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/6bIMG-20190602-WA0034.jpg")


        a(href="img/galerie/bambus-lehmhaus/6cIMG-20190602-WA0038.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/6cIMG-20190602-WA0038.jpg")


        a(href="img/galerie/bambus-lehmhaus/7IMG-20190602-WA0000.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/7IMG-20190602-WA0000.jpg")


        a(href="img/galerie/bambus-lehmhaus/8IMG-20190602-WA0001.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/8IMG-20190602-WA0001.jpg")


        a(href="img/galerie/bambus-lehmhaus/9IMG-20190602-WA0002.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/9IMG-20190602-WA0002.jpg")

        a(href="img/galerie/bambus-lehmhaus/10IMG-20190602-WA0007.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/10IMG-20190602-WA0007.jpg")


        a(href="img/galerie/bambus-lehmhaus/11IMG-20190602-WA0008.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/11IMG-20190602-WA0008.jpg")


        a(href="img/galerie/bambus-lehmhaus/12IMG-20190602-WA0010.jpg")
            img( src="img/galerie/bambus-lehmhaus/thumbs/12IMG-20190602-WA0010.jpg")

    h2 Bambuslöffel-Workshop
    #gallery-bambus-lffel-workshop

        a(href="img/galerie/bambus-löffel-workshop/IMG-20190602-WA0006.jpg")
            img( src="img/galerie/bambus-löffel-workshop/thumbs/IMG-20190602-WA0006.jpg")


        a(href="img/galerie/bambus-löffel-workshop/IMG-20190602-WA0011.jpg")
            img( src="img/galerie/bambus-löffel-workshop/thumbs/IMG-20190602-WA0011.jpg")


        a(href="img/galerie/bambus-löffel-workshop/IMG-20190602-WA0025.jpg")
            img( src="img/galerie/bambus-löffel-workshop/thumbs/IMG-20190602-WA0025.jpg")

    h2 Rohe Kost
    #gallery-essen

        a(href="img/galerie/essen/IMG-20190602-WA0004.jpg")
            img( src="img/galerie/essen/thumbs/IMG-20190602-WA0004.jpg")


        a(href="img/galerie/essen/IMG-20190602-WA0005.jpg")
            img( src="img/galerie/essen/thumbs/IMG-20190602-WA0005.jpg")


        a(href="img/galerie/essen/IMG-20190602-WA0028.jpg")
            img( src="img/galerie/essen/thumbs/IMG-20190602-WA0028.jpg")


        a(href="img/galerie/essen/IMG-20190602-WA0036.jpg")
            img( src="img/galerie/essen/thumbs/IMG-20190602-WA0036.jpg")


        a(href="img/galerie/essen/IMG-20190602-WA0047.jpg")
            img( src="img/galerie/essen/thumbs/IMG-20190602-WA0047.jpg")

    h2 Hochbeet
    #gallery-hochbeet

        a(href="img/galerie/hochbeet/0IMG-20190602-WA0037.jpg")
            img( src="img/galerie/hochbeet/thumbs/0IMG-20190602-WA0037.jpg")


        a(href="img/galerie/hochbeet/1IMG-20190602-WA0026.jpg")
            img( src="img/galerie/hochbeet/thumbs/1IMG-20190602-WA0026.jpg")


        a(href="img/galerie/hochbeet/2IMG-20190602-WA0029.jpg")
            img( src="img/galerie/hochbeet/thumbs/2IMG-20190602-WA0029.jpg")


        a(href="img/galerie/hochbeet/3IMG-20190602-WA0030.jpg")
            img( src="img/galerie/hochbeet/thumbs/3IMG-20190602-WA0030.jpg")


        a(href="img/galerie/hochbeet/4IMG-20190602-WA0023.jpg")
            img( src="img/galerie/hochbeet/thumbs/4IMG-20190602-WA0023.jpg")

include includes/footer
// required for justifiedGallery and the lightgallery plugins
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src='https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js')
script(src='https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js')
script(src='https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js')
script(src='https://cdn.rawgit.com/sachinchoolur/lg-thumbnail.js/master/dist/lg-thumbnail.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js")
script(src="js/init-gallery.js")
