doctype html
head(lang="de")
    meta(name="description" content="Homepage des Permakultur Projektes in Isan, Thailand. Infos zur Entstehung des Projektes.")
    title Kontakt - Raw Food Forest
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div
                div.navCell: a(href="index.html") Home
                div.navCell: a(href="galerie.html") Galerie
                div.navCell: a(href="filme.html") Filme
                div.navCell: a(href="produkte-verarbeitung.html") Produkte & Verarbeitung
                div.navCell: a(href="workshop-retreat.html") Workshop & Retreat
                div.navCellActive: a(href="kontakt.html") Kontakt
article#index
    .textContainer(style="margin-top: 3em !important;")

        h1 Kontakt

        p.
            Email: <a href="mailto:jens-warneke@web.de">jens-warneke@web.de</a>

            <br><br>Telefon: +66 61 87 58 662


        h1 Wegbeschreibung
        p.
            (Breiten/ Längengrad 16.237 319/ 102.556 435)
            <br>Wir leben in der Esan-Region, zwischen Ban Phai und Khon Kaen, 15Km von Mancha Khiri entfernt und das nächste Dorf ist Ban Non Sawan

            <br><br>Anfahrt Taxi:
            <br>Vom Flughafen Khon Kaen kannst Du ein Taxi nehmen, Richtung "Mancha Kiri". Unsere Organic Farm befindet sich ca. 15 km. vor "Macha Kiri" außerhalb vom Dorf "Ban Non Sawan".

            <br><br>Anfahrt Bus:
            <br>Von Bangkok nach "Ban Phai" Busbahnhof, umsteigen Richtung (Mancha Kiri) umsteigen Richtung Khon Kaen
            über "Ban Non Sawan".


            <br><br>Family-home-stay
            <br>Wenn Du Fragen hast: (Energieausgleich/ Programm/ Termine/ect.)
            <br>Schreib uns eine email, damit wir individuell auf Deine Fragen & Bedürfnisse eingehen können! 

            <br><br>Licht & Liebe

            <br>Jen & Jid

        img(src="img/wegbeschreibung1.png")
        img(src="img/wegbeschreibung2.png")


include includes/footer
