doctype html
head(lang="de")
    meta(name="description" content="Homepage des Permakultur Projektes in Isan, Thailand. Infos zur Entstehung des Projektes.")
    title Produkte und Verarbeitung - Raw Food Forest
    include includes/head
body
    include includes/header
    nav
        div#navGrid
            div
                div.navCell: a(href="index.html") Home
                div.navCell: a(href="galerie.html") Galerie
                div.navCell: a(href="filme.html") Filme
                div.navCellActive: a(href="produkte-verarbeitung.html") Produkte & Verarbeitung
                div.navCell: a(href="workshop-retreat.html") Workshop & Retreat
                div.navCell: a(href="kontakt.html") Kontakt
article#index
    .textContainer(style="margin-top: 3em !important;")

        h1 Heil-Kräuter / sonnen & luftgetrocknet
        h1 Heiltee & Heil-Kräuter-Pulver
        h1 Chlorophyll-Grass-Säft

        h1 Ur-Früchte / sonnen & luftgetrocknet
        img(src="img/produkte/papaya.jpg")
        img(src="img/produkte/papaya2.jpg")
        img(src="img/produkte/papaya3.jpg")
        img(src="img/produkte/früchte-trocknen.jpg")


        h1 Heilerde
        img(src="img/produkte/heilerde.jpg")


        h1 EM (Effektive Mikroorganismen) & Fermente
        img(src="img/produkte/em-plastik.jpg")
        img(src="img/produkte/kokos-em.jpg")

        h1 Handarbeit aus Naturmaterialien (Bambus-Löffel)...
        img(src="img/produkte/löffel.jpg")
        img(src="img/produkte/löffel2.jpg")


include includes/footer
